.hero-background {
    height: 100vh;
    width: 100vw;
    background-image: url('blue-pink-halftone-background_53876-99004.avif');
    background-size: cover;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
}
/* .gradient-bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 200%;
  background: linear-gradient(to top right, #ff80b5, #9089fc);
  opacity: 0.3;
  clip-path: polygon(74% 44%, 100% 61%, 97% 27%, 85% 0%, 80% 2%, 72% 32%, 60% 62%, 52% 68%, 47% 58%, 45% 34%, 27% 76%, 0% 64%, 18% 100%, 27% 76%, 76% 98%, 74% 44%);
} */
 .navspace {
    margin-right: 1.5rem;
 }
 .navbar-collapse{
    padding-right:  5rem;
 }
.text-hero {
  font-size: 3rem;
  font-weight: 600;
  color: #333;
}
.text-description {
  color: #6c757d;
  font-size: 1.25rem;
}
.btn-start {
  background-color: #6366f1;
  color: white;
  font-weight: 600;
}
.gradient-bg {
    background: linear-gradient(135deg, #ff80b5, #9089fc);
    opacity: 0.3;
    filter: blur(30px);
    height: 300px;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: -1;
  }
  .pricing-card {
    border-radius: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  .pricing-card h3 {
    color: #4f46e5;
  }
  .pricing-card p.price {
    font-size: 2.5rem;
    color: #1f2937;
  }
  .pricing-card .btn {
    border-radius: 8px;
  }
  #map {
    height: 80vh;
    width: 100%;
  }